.swiper {
  width: 100%;
  max-width: 100%;
  height: 25rem;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  color: #660033;
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  flex-wrap: wrap;
  align-items: center;
}

.swiper-slide {
  cursor: grab;
}

.swiper-slide:active {
  cursor: grabbing;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.swiper-fade .swiper-slide {
  transition-property: opacity;
}

.mySwiper .swiper-pagination {
  background-color: #cccccc80;
  padding: 0.1875rem;
  border-radius: 0.5rem;
  width: max-content;
  margin: 0 auto;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.mySwiper .swiper-pagination-bullet {
  background: rgba(102, 0, 51, 0.05);
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
  background-color: #f0544f;
  border-radius: 50%;
  padding: 10px;
}

@media (max-width: 56.25rem) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 37.5rem) {
  .swiper {
    height: 20rem;
  }
}

