.swiper {
    width: 100%;
    max-width: 100%;
    height: 500px;
}

.swiper-button-next, .swiper-button-prev {
    color: #FFFFFF;
    background-color: #F0544F;
    border-radius: 50%;
    padding: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    color: #660033;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}